.navbar-nav,
.mr-auto {
flex: 1;
margin: 0 auto !important;
display: flex;
}
*{
    margin: 0;
    padding: 0;
}
#navId{
    background-color: #fceae8!important;
    overflow: hidden;
}
.nav-link{
    font-size: 20px;
}
.nav-link:hover{
    background-color: #fceae8;
    font-weight: 700;
}
body{
    background-color: #fceae8;
}
.imageSlider{
    /* background-image: url("images/Instagram/1.jpg")!important;
    background-repeat: no-repeat;
    background-position: center; */
    background-color: #fceae8;
    border-radius: 2em;
  }
.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }
  #search-input{
      width: 220px;
      height: 35px;
  }
  #search-btn{
      width: 50px;
      height: 35px;
  }
  .login-reg a{
      text-decoration: none;
      font-size: 15px;
      color: black;
  }
  #logo{
      width: 160px;
  }
  #shopping-icon{
      margin-left: 30px;
  }
.categories img{
    width: 150px;
}

#show-pic{
    width: 180px;
}
#bag-pic{
    width: 108px;
}
#watch-pic{
    width: 108px;
}
/* .cardItem{
    background-color: cadetblue;
} */
#wishlist-icon{
    /* width: 100px; */
    margin-left: 10px;
}
#payment-method{
    width: 800px;
    margin: 0 auto;
}
footer{
    background-color: black;
    color: white;
    /* text-align: center; */
    list-style: none;
    padding: 20px;
}

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 3px solid black;
    margin: 0 auto;
}
.product-title{
    width: 40%;
}
.price{
    width: 15%;
    display:flex;
    align-items: center;
    margin: 0 08px;
}
.total{    
    width: 10%;
    display:flex;
    align-items: center;
    margin: 0 10px;

}
.product{
    width: 650px;;
    display: flex;
    /* float: left; */
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 1px solid lightgray;
} 
.quantity{    
    width: 20%;
    display:flex;
    align-items: center;

}
.products-container ion-icon{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.products-container img{
    width:120px;
    margin: 05px
}
.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 0;
}
.basketTotalTitle{
    width: 23%;
}
.basketTotal{
    width: 23%;
}
